<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="flex flex-col">
      <nav class="flex item-center justify-between w-full p-6 bg-slate-700 text-white">
        <div class="flex items-center">
          <%= link_to "RecipeApp", root_path, class: "text-2xl font-bold" %>
        </div>

        <div class="flex items-center">
          <% if user_signed_in? %>
              <%= link_to "Foods", foods_path, class: "ml-4" %>
              <%= link_to "Recipes", recipes_path, class: "ml-4" %>
              <%= link_to "New Recipe", new_recipe_path, class: "ml-4" %>
              <%= link_to "My Account", edit_user_registration_path, class: "ml-4" %>
          <% end %>
        </div>

        <div class="flex items-center">
          <% if user_signed_in? %>
            <%
=begin%>
 <%= link_to "Sign out", destroy_user_session_path, method: :destroy, class: "ml-4" %> 
<%
=end%>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, class: "ml-4 bg-white text-black p-2 rounded-md hover:bg-emerald-400" %>
            <%= link_to "Sign in", new_user_session_path, class: "ml-4 bg-white text-black p-2 rounded-md hover:bg-red-400" %>
          <% end %>
        </div>
      </nav>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div class="px-10 mt-6">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
